@media screen and (max-width: 1540px) {
    .header {
        height: 80px;
        background-color: rgba(0, 0, 0, 1);
    }

    .header__logo-icon {
        padding: 20px 10px;
    }
}

@media screen and (max-width: 850px) {
    .header {
        height: 80px;
        background-color: rgba(0, 0, 0, 1);
    }

    .header__logo-icon {
        padding: 10px 10px;
    }
}

@media screen and (max-width: 480px) {
    .header {
        height: 40px;
        background-color: rgba(0, 0, 0, 1);
    }

    .header__inner {
        margin: auto;
    }

    .header__logo-icon {
        width: 150px;

    }
}

.header {
    padding: 10px;
    background-color: rgba(0, 0, 0, 1);
}